<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Перевертыши{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('static/bootstrap/css/bootstrap.css') }}" type="text/css" media="all">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div style="border-bottom:1px solid gray;" id="header" class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <h2 id="logo">Перевертыши</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>
<footer style="height:100px;">
</footer>

{% block javascripts %}
    <script src="{{ asset('static/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>