{% extends '::base.html.twig' %}

{% block body -%}

    <link rel="stylesheet" href="{{ asset('static/css/map_create.css') }}" type="text/css" media="all">

    <h3>Создание новой карты</h3>
    {{ form(form) }}

        <a class="btn btn-danger" href="{{ path('app_map_index') }}">
            Вернуться к списку
        </a>

{% endblock %}
